Flask
Flask-RESTful
Flask-SQLAlchemy
Flask-Cors
PyJWT
cryptography
tensorflow>=2.18
scikit-learn
pandas
numpy
matplotlib
seaborn
reportlab
python-dotenv
psycopg2-binary
librosa
praat-parselmouth
soundfile
scipy
joblib
